body {
	background-image: url("../images/bPage.png");

}
/*------------------------------------
Head
-------------------------------------*/
#myName {
	font-size: 40px;
	padding: 0;
	margin: 0;
	color: #fff;
}

.navbar-nav > li > a { padding: 24px; }
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*------------------------------------
Body
-------------------------------------*/

.img-thumbnail { margin: 0 10px 0 0; }


.topBottomSpace {
	margin-top: 30px;
	margin-bottom: 40px;
}


/*------------------------------------
Footer
-------------------------------------*/
 #fixFooter {









